@import "./global/global.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";

/* Utilidades */
@import "./utilidades/componentes.css";
@import "./utilidades/formulario.css";

@import "./global/header.css";
@import "./global/footer.css";

/* Home */
@import "./home/introducao.css";
