.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  max-width: max-content;
}

.botao.secundario {
  background: #000000;
  color: #ffffff;
}
