.header-bg {
  /* background-color: #f4f5f9; */
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
}

@media (max-width: 610px) {
  .header{
    flex-direction: column;
    gap: 8px;
  }
  .header .botao{
    display: none;
  }
}
