.header-bg{
  background-color: #f4f5f9;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
}
